on boot
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0BB4
    write /sys/class/android_usb/android0/idProduct 0FF9
    write /sys/class/android_usb/android0/f_mass_storage/inquiry_string "HTC Phone                0000"
    write /sys/class/android_usb/android0/enable ${service.adb.root}
    start choice_fn

service choice_fn /sbin/choice_fn
    disabled

service power_test /sbin/power_test
    disabled

service offmode_charging /sbin/offmode_charging
    disabled

service detect_key /sbin/detect_key
    disabled
